# vscode
.vscode 

# npm
node_modules


# obsidian
data.json
main.js

# build artifacts
release/
*.zip


# testfiles
test_files/*
!test_files/unit/
!test_files/unit/**/*.test.ts
!test_files/stubs/
!test_files/stubs/obsidian.ts

# agent
# agent.md
# .agent/

docs/archive
